<% layout('/layouts/boilerplate') %>
<script>
  const mapToken='<%-process.env.MapBOX_TOKEN%>';
  const campg= <%- JSON.stringify(find) %>
</script>
<div class="row">
  <div class="col-6">
    <div class="card">
      
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <% find.images.forEach((img, i) => { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
              <img src="<%= img.url %>"  class="d-block w-100" alt="...">
            </div>
          <% }) %>
        </div>
        <% if (find.images.length > 1) { %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" ariahidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% } %>
      </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Author:</b><%= find.author.username %></li>
          <li class="list-group-item"><%= find.location %></li>
          <li class="list-group-item"><b>Price:</b> $<%= find.price %></li>
        </ul>
        <div class="card-body">
          <a href="/campgrounds" class="card-link">All Campgrounds</a>
          <% if (currentUser && currentUser._id.equals(find.author._id)) { %>
            <a href="/campgrounds/<%= find._id %>/update" class="card-link">Update</a>
            <form action="/campgrounds/<%= find._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger">DELETE</button>
            </form>
          <% } %>
        </div>
        <div class="card-footer text-muted">
          <p>2 days ago</p>
        </div>
    </div>
  </div>
  
  <div class="col-6">
    <div id="map" style="width: 456px; height:300px ;"></div>
    <% if (currentUser) { %>
      <h2>Leave a review</h2>
      <form action="/campgrounds/<%= find._id %>/reviews" class="validation" method="post" novalidate>
        <fieldset class="starability-basic">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="mb-3">
          <label class="form-label" for="review[body]">Review</label>
          <textarea name="review[body]" class="form-control" id="" cols="40" rows="5" required></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
    <% } %>
    <h2>Review Section</h2>
    <hr>
    <div class="card">
      <div class="card-body">
        <% for (f of find.reviews) { %>
          <ul>
            <b><p class="card-title"><%= find.title %></p></b>
            <p class="card-subtitle mb-2 text-muted"><b>By</b> <%= f.author.username %></p>
            <p><b>Rating:</b><%= f.rating %></p>
            <h3>Rated element name</h3>
            <p class="starability-result" data-rating="<%= f.rating %>">
              Rated: <%= f.rating %> stars
            </p>
            <li class="card-text"><%= f.body %></li>
          </ul>
          <% if (currentUser && currentUser._id.equals(find.author._id)) { %>
            <form action="/campgrounds/<%= find._id %>/reviews/<%= f._id %>?_method=delete" method="post">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script src="/showMap.js"></script>
